<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Mohammad Al Faiyaz">
  <title>About</title>
  <meta name="description" content="Homepage">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                {% comment %} TODO: Actually Implement this {% endcomment %}
                <a class="navbar-item" href="{% url 'homepage:index' %}">Homepage</a>
                <a class="navbar-item" href="{% url 'homepage:about' %}">About</a>
                <a class="navbar-item" href="{% url 'homepage:contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <article>
                <h1 class="title">{{ headline }}</h1>
                <p class="content">
                    {{ content }}
                </p>
            </article>
        </div>
    </section>
</body>