<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Mohammad Al Faiyaz">
  <title>Latest Ideas</title>
  <meta name="description" content="Homepage">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                {% comment %} TODO: Actually Implement this {% endcomment %}
                <a class="navbar-item" href="{% url 'homepage:index' %}">Homepage</a>
                <a class="navbar-item" href="{% url 'homepage:about' %}">About</a>
                <a class="navbar-item" href="{% url 'homepage:contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    {% comment %} TODO: Fix this section to look nicer {% endcomment %}
    <section class="section">
        <div class="container">
            <article>
                <h1 class="title">Latest Ideas</h1>
                <ul class="content">
                    {% comment %} Style this with cards {% endcomment %}
                    {% for tweet in tweet_list %}
                        <li>
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <div>{{ tweet.tweet_text }}</div>
                                        <div class="is-small"><time>{{ tweet.tweet_date }}</time></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %} 
                </ul>
                <button class="button" onclick="location.href='{% url 'homepage:refresh' %}'">Refresh</button>
            </article>
        </div>
    </section>
</body>
</html>